.img {
    width: 100%;
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.article {
    position: relative;
    width: 320px;
}

.article:hover > button {
    display: block;
}

.content {
    cursor: pointer;
}

.menuBtn {
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;

    width: 30px;
    height: 30px;

    background: #232323;
    border: none;
    border-radius: 50%;

    cursor: pointer;
}
