* {
    font-family: 'Montserrat', serif;
    color: #FFFFFF;
    font-size: 20px;
}

body {
    background-color: #232323;
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
}

h3 {
    font-size: 18px;
    text-transform: capitalize;
}
